<header class="header" id="header-id">
    <div class="dark-parent">
        <img alt="triedwhatnot logo" class="header-logo" src="/images/triedwhatnot_logo.png" />
    </div>
    <nav class="nav-parent" id="nav-parent-wrap">
        <a href="/" class="nav-el <%= activeNavbarEl === 'home' ? 'selected' : '' %>">Home</a>
        <a href="/work" class="nav-el <%= activeNavbarEl === 'work' ? 'selected' : '' %>">Work</a>
        <a href="/documents/Shubham_Gupta_Resume.pdf" target="_blank" class="nav-el">Resume</a>
        <a href="/resources" class="nav-el <%= activeNavbarEl === 'resources' ? 'selected' : '' %>">Resources</a>
        <a href="/contact" class="nav-el <%= activeNavbarEl === 'contact' ? 'selected' : '' %>">Contact</a>
    </nav>
    <img alt="open navbar icon" class="hamburger-icon" src="/icons/hamburger.svg" />
    <img alt="close navbar icon" class="hamburger-icon hide" src="/icons/cross.svg" />
    
    <!-- gtm start -->
    <%- include('gtag.ejs') %>
    <!-- gtm end -->
</header>