<!-- projects start -->
<section class="projects" id="projects">
    <h3>Projects</h3>

    <div class="projects-wrapper">

        <div class="projects-card">
            <img src="/icons/testing-suite.svg" />
            <div class="text-parent">
                <h4>React Testing Suite</h4>
                <div class="text">Aimed to write functional and regression tests for react app using react testing library - Unit, Integration and E2E tests included. 90+ test cases with 100% coverage.</div>
                <div class="tag-parent">
                    <span>React Testing Library</span>
                    <span>VItest (Jest)</span>
                    <span>JS-DOM</span>
                    <span>Jest-DOM</span>
                </div>
                <div class="links">  
                    <a href="https://github.com/triedwhatnot/react-testing-suite" target="_blank">Github<img src="/icons/click-link.svg" /></a>
                    <a href="<%= baseUrl %>/projects" target="_blank">Demo<img src="/icons/click-link.svg" /></a>
                </div>
            </div>
        </div>

        <div class="projects-card">
            <img src="/icons/openai.svg" />
            <div class="text-parent">
                <h4>Voice2Post</h4>
                <div class="text">Jot down whatever you speak, edit it and finally, use OpenAI's ChatGPT-3.5 to enhance your text for LinkedIn, Twitter or use any custom prompt. Then, just copy and post!</div>
                <div class="tag-parent">
                    <span>GPT-3.5</span>
                    <span>Web Speech API</span>
                    <span>Tailwind CSS</span>
                    <span>React</span>
                </div>
                <div class="links">  
                    <a href="https://github.com/triedwhatnot/voice2post" target="_blank">Github<img src="/icons/click-link.svg" /></a>
                    <a href="<%= baseUrl %>/projects" target="_blank">Demo<img src="/icons/click-link.svg" /></a>
                </div>
            </div>
        </div>

        <div class="projects-card">
            <img src="/icons/penny.svg" />
            <div class="text-parent">
                <h4>Budgety</h4>
                <div class="text">Track your monthly budget by adding/deleting individual income and expense, in order to manage your money more efficiently. Also, view each expense as a percentage of your total income.</div>
                <div class="tag-parent">
                    <span>Vanilla JS</span>
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>Math</span>
                </div>
                <div class="links">  
                    <a href="https://github.com/triedwhatnot/budgety" target="_blank">Github<img src="/icons/click-link.svg" /></a>
                    <a href="<%= baseUrl %>/projects/budgety" target="_blank">Demo<img src="/icons/click-link.svg" /></a>
                </div>
            </div>
        </div>

        <div class="projects-card">
            <img src="/icons/tic-tac-toe.svg" />
            <div class="text-parent">
                <h4>Tic-Tac-Toe</h4>
                <div class="text">Same old all-time favorite 2-player game, where two players battle it out to align their Xs or Os in a 3x3 grid. Get a friend and test it out!</div>
                <div class="tag-parent">
                    <span>Game</span>
                    <span>React</span>
                    <span>Tailwind CSS</span>
                    <span>User-Engagement</span>
                </div>
                <div class="links">  
                    <a href="https://github.com/triedwhatnot/react-testing-suite/blob/main/src/tic-tac-toe/index.jsx" target="_blank">Github<img src="/icons/click-link.svg" /></a>
                    <a href="<%= baseUrl %>/projects/react-testing-suite/tic-tac-toe" target="_blank">Demo<img src="/icons/click-link.svg" /></a>
                </div>
            </div>
        </div>

        <div class="projects-card hide">
            <img src="/icons/hangman.svg" />
            <div class="text-parent">
                <h4>Hangman Game</h4>
                <div class="text">Can you guess the correct word? With your buddy waiting to be saved, starting by using a random alphabet you need to guess the word infront you. Or your friend dies!</div>
                <div class="tag-parent">
                    <span>Game</span>
                    <span>Javascript</span>
                    <span>HTML</span>
                    <span>CSS</span>
                </div>
                <div class="links">  
                    <a href="https://github.com/triedwhatnot/hangman-game" target="_blank">Github<img src="/icons/click-link.svg" /></a>
                    <a href="<%= baseUrl %>/projects/hangman-game" target="_blank">Demo<img src="/icons/click-link.svg" /></a>
                </div>
            </div>
        </div>

        <div class="projects-card hide">
            <img src="/icons/brain.svg" />
            <div class="text-parent">
                <h4>Memory Game</h4>
                <div class="text">Memorise and match, simple. Remember the positions of all numbers presented to you and match the pairs after the card are flipped. You win when you match all 10 pairs. Can you do it?</div>
                <div class="tag-parent">
                    <span>Game</span>
                    <span>Javascript</span>
                    <span>Animation</span>
                    <span>CSS</span>
                </div>
                <div class="links">  
                    <a href="https://github.com/triedwhatnot/memory-game" target="_blank">Github<img src="/icons/click-link.svg" /></a>
                    <a href="<%= baseUrl %>/projects/memory-game" target="_blank">Demo<img src="/icons/click-link.svg" /></a>
                </div>
            </div>
        </div>

        <div class="projects-card hide">
            <img src="/icons/keyboard.svg" />
            <div class="text-parent">
                <h4>TypeRacer</h4>
                <div class="text">Are you fast enough? Check your speed by typing in the word that prompts on screen before time runs out. Comes in 3 levels of difficulty. Compare your score with friends and enjoy!</div>
                <div class="tag-parent">
                    <span>Game</span>
                    <span>Vanilla JS</span>
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>User-Engagement</span>
                </div>
                <div class="links">  
                    <a href="https://github.com/triedwhatnot/type-racer" target="_blank">Github<img src="/icons/click-link.svg" /></a>
                    <a href="<%= baseUrl %>/projects/type-racer" target="_blank">Demo<img src="/icons/click-link.svg" /></a>
                </div>
            </div>
        </div>

        <div class="projects-card hide">
            <img src="/icons/stock.svg" />
            <div class="text-parent">
                <h4>Stock Xchange</h4>
                <div class="text">A listing of stocks, representing their price, one day change and position on a 52 week scale. Comes with the functionalities to search by name, sort and filter on the basis of their price.</div>
                <div class="tag-parent">
                    <span>Sort</span>
                    <span>Search</span>
                    <span>Filter</span>
                    <span>Responsive UI</span>
                    <span>Javascript</span>
                </div>
                <div class="links">  
                    <a href="https://github.com/triedwhatnot/stock-exchange" target="_blank">Github<img src="/icons/click-link.svg" /></a>
                    <a href="<%= baseUrl %>/projects/stock-exchange" target="_blank">Demo<img src="/icons/click-link.svg" /></a>
                </div>
            </div>
        </div>

        <div class="projects-card hide">
            <img src="/icons/grocery.svg" />
            <div class="text-parent">
                <h4>Grocery Store</h4>
                <div class="text">Homepage interface for a grocery store, built on Bootstrap.</div>
                <div class="tag-parent">
                    <span>Bootstrap</span>
                    <span>HTML</span>
                    <span>Vanilla JS</span>
                </div>
                <div class="links">  
                    <a href="https://github.com/triedwhatnot/grocery-store" target="_blank">Github<img src="/icons/click-link.svg" /></a>
                    <a href="<%= baseUrl %>/projects/grocery-store" target="_blank">Demo<img src="/icons/click-link.svg" /></a>
                </div>
            </div>
        </div>

        <div class="projects-card hide">
            <img src="/icons/wealth.svg" />
            <div class="text-parent">
                <h4>Estelle Wealth</h4>
                <div class="text">Homepage for a wealth management firm.</div>
                <div class="tag-parent">
                    <span>Vanilla JS</span>
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>Animations</span>
                </div>
                <div class="links">  
                    <a href="https://github.com/triedwhatnot/estelle-homepage" target="_blank">Github<img src="/icons/click-link.svg" /></a>
                    <a href="<%= baseUrl %>/projects/estelle-wealth" target="_blank">Demo<img src="/icons/click-link.svg" /></a>
                </div>
            </div>
        </div>

    </div>
    <div class="show-more" id="show-more-btn">
        <button>view more <img src="/icons/arrow-down.svg"/></button>
    </div>
</section>
<!-- projects end -->