<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shubham Gupta | Home</title>
    <meta name="description" content="Software engineering graduate with 4+ years of experience in Frontend engineering and maintaining high-traffic Fintech websites. Eager to learn, build, collaborate, and solve real-world problems. Open to connections and collaborations on new ideas.">
    <meta name="author" content="Shubham Gupta">
    <link rel="alternate" href="https://www.triedwhatnot.com" hreflang="en">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">

    <link rel="canonical" href="https://www.triedwhatnot.com" />

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Shubham Gupta | Home">
    <meta property="og:description" content="Software engineering graduate with 4+ years of experience in Frontend engineering and maintaining high-traffic Fintech websites. Eager to learn, build, collaborate, and solve real-world problems. Open to connections and collaborations on new ideas.">
    <meta property="og:image" content="https://www.triedwhatnot.com/images/og_img.png">
    <meta property="og:url" content="https://www.triedwhatnot.com">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="triedwhatnot">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Shubham Gupta | Home">
    <meta name="twitter:description" content="Software engineering graduate with 4+ years of experience in Frontend engineering and maintaining high-traffic Fintech websites. Eager to learn, build, collaborate, and solve real-world problems. Open to connections and collaborations on new ideas.">
    <meta name="twitter:image" content="https://www.triedwhatnot.com/images/og_img.png">
    <meta name="twitter:site" content="@triedwhatnot">


    <script defer src="/javascripts/home.min.js"></script>
    <script defer src="/javascripts/common.min.js"></script>

    <script defer src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js" integrity="sha256-FZsW7H2V5X9TGinSjjwYJ419Xka27I8XPDmWryGlWtw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" integrity="sha256-5uKiXEwbaQh9cgd2/5Vp6WmMnsUr3VZZw0a8rKnOKNU=" crossorigin="anonymous">

    <link rel="preload" href="/stylesheets/common.min.css"  as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="/stylesheets/home.min.css"  as="style" onload="this.onload=null;this.rel='stylesheet'">


    <!-- <link crossorigin rel="preload" href="/path/to/styles.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/path/to/styles.css"></noscript> -->
</head>
<body class="dark">

    <!-- header start -->
    <%- include('partials/header-min.ejs') %>
    <!-- header end -->

    <div class="content-section">

        <section class="intro">
            <div class="left">
                <h1>Shubham Gupta</h1>
                <p class="headline">Learn, Build and Collaborate</p>
                <p class="desc">Software Engineer experienced in <span class="span-highlight">Frontend</span> engineering tech and maintaining high-traffic website in Fintech industry.</p>
            </div>
            <div class="right">
                <img alt="owner's picture" src="/images/home_pic.webp" />
            </div>
        </section>



        <!-- blogs start -->
        <section class="blogs" id="blogs">
            <div class="blog-head">
                <h3>Recent Blogs</h3>
                <div class="show-more" id="show-more-blogs">
                    <button>view more <img alt="arrow down icon" src="/icons/arrow-down.svg"/></button>
                </div>
            </div>

            <div id="blog-splide" class="splide" role="group" aria-label="blogs carousel">
                <div class="splide__track">
                      <ul class="splide__list">

                        <div class="blogs-card splide__slide">
                            <a class="text-parent" target="_blank" href="https://www.linkedin.com/posts/triedwhatnot_webdev-performanceoptimisation-webvitals-activity-7198291369038159872-QU9H?utm_source=share&utm_medium=member_desktop">
                                Interaction to Next Paint: A new update in core web vitals.
                            </a>
                            <a class="text-parent" target="_blank" href="https://www.linkedin.com/posts/triedwhatnot_seo-websitetips-activity-7195724722435760129--Haj?utm_source=share&utm_medium=member_desktop">
                                5 Simple SEO tips to boost your website's visibility on search engines. 
                            </a>
                        </div>

                        <div class="blogs-card splide__slide">
                            <a class="text-parent" target="_blank" href="https://www.linkedin.com/posts/triedwhatnot_leadership-culture-innovation-activity-7195439307174678528-SFx6?utm_source=share&utm_medium=member_desktop">
                                No Rules Rules: Netflix and the culture of reinvention.
                            </a>
                            <a class="text-parent" target="_blank" href="https://www.linkedin.com/posts/triedwhatnot_tailwindcss-css-webdevelopement-activity-7196419069707755520-1Swq?utm_source=share&utm_medium=member_desktop">
                                Why Tailwind CSS seems to be a top choice to style your app these days.
                            </a>
                        </div>

                        <div class="blogs-card splide__slide">
                            <a class="text-parent" target="_blank" href="https://www.linkedin.com/posts/triedwhatnot_webdevelopment-renderingpatterns-ssr-activity-7196094403285823490-qhvr?utm_source=share&utm_medium=member_desktop">
                                Rendering Patterns: Key to crafting efficient and scalable web apps!  
                            </a>
                            <a class="text-parent" target="_blank" href="https://www.linkedin.com/posts/triedwhatnot_dsa-algorithms-activity-7196855370785394691-OcPr?utm_source=share&utm_medium=member_desktop">
                                A great tool to visualise Data Structures and Algorithms! 
                            </a>
                        </div>


                        <div class="blogs-card splide__slide">
                            <a class="text-parent" target="_blank" href="https://www.linkedin.com/posts/triedwhatnot_dreamwithyoureyesopen-ronniescrewvala-entrepreneurship-activity-7197845950353018880-nu0F?utm_source=share&utm_medium=member_desktop">
                                Dream with your eyes open, Ronnie Screwvala
                            </a>
                            <a class="text-parent" target="_blank" href="https://www.linkedin.com/posts/triedwhatnot_backtracking-algorithm-interviews-activity-7197261600058167296-vAkF?utm_source=share&utm_medium=member_desktop">
                                A guide to Backtracking problems in your DSA interview. 
                            </a>
                        </div>

                    </ul>
                </div>
            </div>


        </section>
        <!-- blogs end -->

        <!-- skills start -->
        <%- include('partials/skills-min.ejs') %>
        <!-- skills end -->

        <!-- experience start -->
        <section class="experience" id="experience">
            <h3>Experience</h3>

            <!-- <%- include('partials/freelancing-exp-min.ejs') %> -->

            <%- include('partials/etmoney-exp-min.ejs') %>

            <div class="show-more" id="show-more-exp">
                <button>view more <img loading="lazy" alt="arrow down icon" src="/icons/arrow-down.svg"/></button>
            </div>
        </section>
        <!-- experience end -->

        <!-- projects start -->
        <%- include('partials/projects-min.ejs') %>
        <!-- projects end -->


        <!-- testimonials start -->
        <section class="testimonials" id="testimonials">
            <h3>Testimonials</h3>

            <div id="testimonials-splide" class="splide" role="group" aria-label="testimonials carousel">
                <div class="splide__track">
                      <ul class="splide__list">
                        <%- include('partials/testimonials-min.ejs') %>
                    </ul>
                </div>
            </div>
        </section>
        <!-- testimonials end -->


        <!-- contact start -->
        <section class="contact" id="contact">
            <h3>Contact</h3>
            <%- include('partials/contact-form-min.ejs') %>
        </section>
        <!-- contact end -->

        <!-- footer start -->
        <%- include('partials/footer-min.ejs') %>
        <!-- footer end -->
    </div>
    
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Person",
          "name": "Shubham Gupta",
          "jobTitle": "Web Developer",
          "url": "https://www.triedwhatnot.com",
          "sameAs": [
            "https://www.linkedin.com/in/triedwhatnot",
            "https://leetcode.com/u/triedwhatnot/",
            "https://github.com/triedwhatnot"
          ],
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Delhi",
            "addressRegion": "Delhi",
            "addressCountry": "India"
          },
          "contactPoint": {
            "@type": "ContactPoint",
            "contactType": "Customer Support",
            "email": "triedwhatnot@gmail.com",
            "telephone": "+91-9873120444"
          },
          "description": "Software engineering graduate with 4+ years of experience in Frontend engineering and maintaining high-traffic Fintech websites. Eager to learn, build, collaborate, and solve real-world problems. Open to connections and collaborations on new ideas.",
          "image": "https://www.triedwhatnot.com/images/og_img.png"
        }
    </script>

    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "ItemList",
          "itemListElement": [
            {
              "@type": "CreativeWork",
              "name": "React Testing Suite",
              "description": "Aimed to write functional and regression tests for react app using react testing library - Unit, Integration and E2E tests included. 90+ test cases with 100% coverage.",
              "url": "https://www.triedwhatnot.com/projects/react-testing-suite/",
              "image": "https://www.triedwhatnot.com/icons/testing-suite.svg",
              "keywords": ["React Testing Library", "VItest (Jest)", "JS-DOM", "Jest-DOM"]
            },
            {
              "@type": "CreativeWork",
              "name": "Voice2Post",
              "description": "Jot down whatever you speak, edit it and finally, use OpenAI's ChatGPT-3.5 to enhance your text for LinkedIn, Twitter or use any custom prompt. Then, just copy and post!",
              "url": "https://www.triedwhatnot.com/projects/voice2post",
              "image": "https://www.triedwhatnot.com/icons/openai.svg",
              "keywords": ["GPT-3.5", "Web Speech API", "Tailwind CSS", "React"]
            },
            {
              "@type": "CreativeWork",
              "name": "Budgety",
              "description": "Track your monthly budget by adding/deleting individual income and expense, in order to manage your money more efficiently. Also, view each expense as a percentage of your total income.",
              "url": "https://www.triedwhatnot.com/projects/budgety",
              "image": "https://www.triedwhatnot.com/icons/penny.svg",
              "keywords": ["Vanilla JS", "HTML", "CSS", "Math"]
            },
            {
              "@type": "CreativeWork",
              "name": "Tic-Tac-Toe",
              "description": "Same old all-time favorite 2-player game, where two players battle it out to align their Xs or Os in a 3x3 grid. Get a friend and test it out!",
              "url": "https://www.triedwhatnot.com/projects/react-testing-suite/tic-tac-toe",
              "image": "https://www.triedwhatnot.com/icons/tic-tac-toe.svg",
              "keywords": ["Game", "React", "Tailwind CSS", "User-Engagement"]
            }
          ]
        }
    </script>
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Organization",
          "name": "ET Money",
          "url": "https://www.linkedin.com/company/et_money/",
          "logo": "https://www.triedwhatnot.com/icons/etmoney.svg",
          "member": {
            "@type": "OrganizationRole",
            "member": {
              "@type": "Person",
              "name": "Shubham"
            },
            "startDate": "2020-01",
            "endDate": "2023-09",
            "roleName": "SDE 2",
            "description": [
              "Acted as a POC for all Mutual Fund related tasks and as a Team Lead in high-paced tasks for the financial platform, which captures ~25% of India's Mutual Fund market share and caters to 10 millions of users.",
              "Completely owned 3 major Product dashboards, including related pages like investment / transaction / SIP details etc, all of which being logic intensive pages reflecting current value, P&L, gain %, one day change, live stock prices updates etc.",
              "Implemented A/B Testing in user onboarding flow to establish the better performing bank addition journey, which led to increase in user's conversion by ~30%.",
              "Implemented Sentry across the website for performance and error monitoring, which reduced the crash rate from 6% to 3%.",
              "Led code reviews, managed sprints, interviewed 30+ candidates and mentored new joiners to get up-to date with existing structure."
            ]
          }
        }
    </script>

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "ItemList",
            "itemListElement": [
            {
                "@type": "Review",
                "reviewBody": "I enthusiastically recommend Shubham for his exceptional skills. His dedication and adaptability to new challenges make him an asset to any organisation. It's been incredible to witness his growth from being mentored to mentoring new team members. I have no doubt he will continue to excel and inspire in his future endeavours.",
                "author": {
                "@type": "Person",
                "name": "Arpit Arya",
                "jobTitle": "Engineering Manager, ET Money",
                "image": "https://www.triedwhatnot.com/images/arpit_arya.webp"
                }
            },
            {
                "@type": "Review",
                "reviewBody": "I highly recommend Shubham as a diligent and dedicated professional. Shubham consistently showcases exceptional problem-solving skills, strong attention to detail, and excellent communication abilities. He always willing to go the extra mile and contribute positively to any team and a valuable asset to any organization.",
                "author": {
                "@type": "Person",
                "name": "Sagar Garg",
                "jobTitle": "SDE 2, ET Money",
                "image": "https://www.triedwhatnot.com/images/sagar_garg.webp"
                }
            },
            {
                "@type": "Review",
                "reviewBody": "I wholeheartedly recommend Shubham for his outstanding contributions. His work ethic is evident in every project he undertakes, consistently delivering results beyond expectations. He prioritises product needs, ensuring our projects align with user preferences. As a team player, he collaborates seamlessly, valuing diverse perspectives.",
                "author": {
                "@type": "Person",
                "name": "Navjot Singh",
                "jobTitle": "SDE 1, ET Money",
                "image": "https://www.triedwhatnot.com/images/navjot_singh.webp"
                }
            }
            ]
        }
    </script>
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Person",
          "name": "Shubham",
          "jobTitle": "Web Developer",
          "url": "https://www.triedwhatnot.com/work",
          "knowsAbout": [
            "JavaScript",
            "React",
            "Next.js",
            "HTML",
            "CSS",
            "Tailwind CSS",
            "Material UI",
            "Redux",
            "Node",
            "Express",
            "Firebase",
            "Firestore",
            "Google Analytics",
            "Sentry",
            "Web Vitals",
            "A/B Testing",
            "React Testing Library",
            "Jest",
            "JS-DOM",
            "Jest-DOM",
            "Vitest",
            "Vite",
            "CRA",
            "Gulp",
            "Babel",
            "Webpack",
            "Gradle",
            "Terser",
            "Git",
            "SEO",
            "SSR",
            "Security",
            "Short Polling",
            "Caching",
            "Performance"
          ]
        }
    </script>
        
</body>

<script defer src="/javascripts/contact-form.min.js"></script>
</html>