<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">

    <script src="/javascripts/work.js"></script>
    <script src="/javascripts/common.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js" integrity="sha256-FZsW7H2V5X9TGinSjjwYJ419Xka27I8XPDmWryGlWtw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" integrity="sha256-5uKiXEwbaQh9cgd2/5Vp6WmMnsUr3VZZw0a8rKnOKNU=" crossorigin="anonymous">

    <link href="/stylesheets/work.css" rel="stylesheet">
    <link href="/stylesheets/common.css" rel="stylesheet">
</head>
<body class="dark">
    
    <!-- header start -->
    <%- include('partials/header.ejs') %>
    <!-- header end -->

    <div class="content-section">

        <section class="intro">
            <h1>Work</h1>
            <p>A <span class="span-highlight">summary</span> of the skills, experience, projects and testimonials, I have gathered over the course of my career.</p>
        </section>

        <!-- skills start -->
        <%- include('partials/skills.ejs') %>
        <!-- skills end -->

        <!-- experience start -->
        <section class="experience" id="experience">
            <h3>Experience</h3>

            <!-- <%- include('partials/freelancing-exp.ejs') %> -->

            <%- include('partials/etmoney-exp.ejs') %>

        </section>
        <!-- experience end -->

        <!-- projects start -->
        <%- include('partials/projects.ejs') %>
        <!-- projects end -->


        <!-- testimonials start -->
        <section class="testimonials" id="testimonials">
            <h3>Testimonials</h3>

            <div class="splide" role="group" aria-label="testimonials carousel">
                <div class="splide__track">
                      <ul class="splide__list">
                        <%- include('partials/testimonials.ejs') %>
                    </ul>
                </div>
            </div>



        </section>
        <!-- testimonials end -->

        <!-- footer start -->
        <%- include('partials/footer.ejs') %>
        <!-- footer end -->

    </div>
    
    
</body>
</html>